// Themes
$bg-primary: #323232;

$color-primary: #AFAFAF;
$color-secondary: #E1E1E1;
$color-tertiary: #FAFAFA;
$color-white: #ffffff;
$color-hover: #0065ad;

//Font-weight
$font-normal: 400;
$font-medium: 500;
$font-heavy: 700;


// Breakpoints
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;