@use './partials/resets' as *;
@use './partials/variables' as *;
@use './partials/typography' as *;
@use './partials/mixins' as *;

.wrapper {
    max-width: 1275px;
    width: 95%;
    margin: 0 auto;

    @include desktop {
        max-width: 1500px;
        width: 90%;
    }
}


//------nav------//
.nav {
    background-color: $bg-primary;
    height: 110px;
    position: relative;

    @include tablet {
        height: 80px;
        
    }

    &-bar {
        @include tablet {
            height: 100%;
            @include flex-align;
        }
    }

    &-logo {
        margin: 0;
        padding-top: 1.5em;
       
        text-align: center;

        @include tablet {
            font-size: 2rem;
            padding-top: .5rem;
        }

        &__link {
            text-decoration: none;
            color: $color-white;
            text-transform: uppercase;
            font-weight: $font-normal;
            font-size: 2.8rem;
            
        }
    }

    &-list {
        @include flex-align;
        justify-content: space-around;
        padding-left: 0;

        @include tablet {
            margin-left: 5rem;
        }
    
        &__item {
            list-style: none;
            
            
            @include tablet {
                margin: 0 3rem;
                font-size: 1.8rem;
            }

            &__link {
                color: $color-primary;
                font-size: 2rem;
                font-weight: $font-medium;
                margin-top: .5rem;
                text-decoration: none;
                transition: color .5s ease;

                &:hover {
                    cursor: pointer;
                    color: $color-hover;
                }
            }
        
            &--active {
                color: $color-white;
                position: relative;
    
                &::after {
                    content: '';
                    width: 60vw;
                    position: absolute;
                    bottom: -26px;
                    left: -23vw;
                    border: 4px solid $color-white;
        
                    
                    @include tablet {
                        width: 105px;
                        left: -5px;
                        bottom: -29px;
                    }
                }
            }
        }
    }
}


//--------main-------//
.hero-container {
    background-image: url(../assets/images/Photo-gallery-11.jpg);
    background-size: cover;
    background-position: center;
    height: 70vw;
    position: relative;
    @include flex-align;

    &::before {
        content: '';
        width: 100%;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        display: block;
        background: rgba(0,0,0,.5);
    }

    @include tablet {
        height: 55vw;
    }

    &__text {
        width: 70vw;
        margin: 0;
        font-size: 8vw;
        color: $color-white;
        position: absolute;
        top: 35%;
        z-index: 100;

        @include tablet {
            font-size: 6rem;
            width: 600px;
        }

        @include desktop {
            font-size: 7rem;
            width: 700px;
        }
    }
}

.about {
    &__title {
        margin: 5rem 0 3rem;
        font-size: 3rem;
        text-transform: capitalize;
        color: $bg-primary;

        @include tablet {
            font-size: 3.6rem;
        }
    }

    &__image {
        width: 100%;
        height: 50vw;
        @include image-fit;

        @include tablet {
            height: 45vw;
        }
    }
}

.block-quote {
    margin: 0;

    &__text {
        font-size: 2rem;
        font-weight: $font-medium;
        color: $bg-primary;
        letter-spacing: .1rem;

        @include tablet {
            font-weight: $font-heavy;
        }
    }
    &__footer {
        font-size: 1.8rem;
        font-weight: $font-medium;
        color: $bg-primary;
    }
}

.details {
    margin-top: 5rem;

    &__title {
        font-size: 2.2rem;
        font-weight: $font-medium;
        color: #000;
        color: $bg-primary;
        margin-bottom: 1rem;

        @include tablet {
            font-weight: $font-heavy;
        }
    }

    &__container {
        display: flex;
        flex-direction: column;

        @include tablet {
            flex-direction: row;
        }
    }

    &__text {
        font-size: 1.8rem;
        line-height: 1.7;
        letter-spacing: .1rem;
        color: $bg-primary;

        @include tablet {
            width: calc(50% - 2rem);
            margin-right: 2rem;
            font-size: 1.8rem;
        }
    }
}

.gallery {
    background-color: $color-tertiary;
    padding-bottom: 3rem;

    &__title{
        font-size: 3rem;
        color: $bg-primary;
        padding-top: 4rem;

        @include tablet {
            font-size: 3.6rem;
        }
    }

    &__container {

        @include tablet {
            display: flex;
            flex-wrap: wrap;
        }
        &__image {
            @include image-fit;
            width: 100%;
            margin-bottom: 2rem;

            &:hover {
                filter: grayscale(100%);
            }

            @include tablet {
                width: 30%;
                margin: 1.2rem;
                flex-grow: 1;
            }
        }
    }
}


//-------footer-------//
.contact {
    background-color: $bg-primary;

    &-lists {
       @include flex-align;
        justify-content: space-between;
        padding-top: 3rem;

        @include tablet {
            padding-top: 3rem;
        }

        &__info {
            display: flex;
            flex-direction: column;

            @include tablet {
                flex-direction: row;
                align-items: center;
            }

            &__title {
                font-size: 3.4rem;
                color: $color-white;
                margin: 0;
                padding-bottom: 2rem;

                @include tablet {
                    padding-top: 2rem;
                    font-size: 3.6rem;
                }
            }

            &__socials {
                 @include tablet {
                     margin-left: 5rem;
                 }

                &__icons {
                    margin-right: 3rem;
                }
            }
        }

        &__logo {
            display: none;

            @include tablet {
                display: inherit;
            }

            &__link {
                @include tablet {
                    text-decoration: none;
                    color: $color-white;
                    font-size: 2.8rem;
                    font-weight: $font-normal;
                    text-transform: uppercase;
                }
            }
        }
    }

    &-info {
        margin-top: 4rem;

        @include tablet {
            margin-top: 0;
            display: flex;
            justify-content: space-between;
        }

        @include desktop {
            justify-content: flex-start;
        }

        &__section {
            @include desktop {
                margin-right: 5rem;
            }
        }

        &__individuals {
            margin: 3rem 0;

            &__title {
                font-size: 2rem;
                font-weight: $font-medium;
                color: $color-white;
                margin: 0;

                @include tablet {
                    font-size: 1.7rem;
                }
            }
            &__address {
                font-size: 1.8rem;
                color: $color-white;
                margin: .5rem 0;

                @include tablet {
                    font-size: 1.5rem;
                }
            }

            &__email {
                font-size: 1.8rem;
                color: $color-white;
                margin-bottom: 3rem;

                @include tablet {
                    font-size: 1.5rem;
                }
            }
        }
        
    }
}

.copyright {
    padding: 1rem 0 2rem;

    @include tablet {
        display: flex;
    }

    &__text {
        color: $color-white;
        font-size: 1.8rem;
        margin: .5rem 0;

        @include tablet {
            margin-right: 1rem;
            font-size: 1.5rem;
        }
    }
}